@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

.main-page {
  min-height: 93.8vh;
  background-color: white;
}

.logo {
  animation-name: bounce-short;
  animation-duration: 1s;
  animation-iteration-count: 2.5;
}
#__next > header > div.flex-1.flex.justify-center.items-middle > ul > li{
  font-family: 'Oswald', sans-serif;
}

@keyframes bounce-short {
  0%, 100% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 0.5, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(70%);

  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-126%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu {
  position: absolute;
    width: 35vw;
    height: 100vh;
    top: 0;
    right: 0;
    margin-right: 0;
    animation-name: slide-out;
  animation-duration: 1s;
  animation-iteration-count: 1;
  background-color: black;
  opacity: 1;
  z-index: 1000;
}
.menu-pc {
  position: absolute;
  width: 161px;
  height: 120px;
  top: 103%;
  right: 19%;
  margin-right: 0;
  background-color: rgb(7, 7, 7,.7);
  opacity: 1;
  z-index: 1000;

}
.menu .active {
  transition: margin 2s ease-in;
  margin-right: 0% ;  
}
.menu ul {
  padding-top: 10vh;
}
.menu ul li {
  text-align: center;
  padding: 20px;
  color: white;
}
.menu ul li:hover {
  background-color: white;
  color: black;
  transition: 0.8s;
}
.invert {
  -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
    cursor: pointer;
}
.footer-list {
  list-style: inside;

}
.footer-list li {
  display: inline-block;
  padding-left: 20px;
  font-size: 13px;
}
.search-icon {
  top: 36%;
    left: 19%;
}
@media screen and (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  footer > div,
  footer > ul {
    margin: 10px !important;
  }
}
.title-container {
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    text-shadow: .3px 1px black;
    animation-name: appear;
  animation-duration: 2s;
  animation-iteration-count: 1;
}
/* .user-image {
  filter: brightness(60%)!important;
} */
main {
  padding-top: 4rem;
}

.list-item-custom {
  height: 33%; 
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page {
  height: 63.8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-page > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  height: 300px;
  width: 300px;
}